@import "../../../styles/mixins";

.list {
  font-weight: 100;
  font-size: 1.25em;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  justify-items: center;

  @include breakpoint(md) {
    font-size: 2em;
  }
}

/* .group {
  flex: 1;
  text-align: center;
} */

.label {
  color: grey;
}

.value {
  margin: 0;
  font-weight: 900;
}
