@import "../../../styles/mixins";

.container {
  @include breakpoint(sm) {
    display: flex;
  }
}

.container > div {
  flex: 1;
}

.container > div + div {
  border: 1px #88888844 solid;
  background-color: inherit;
  margin-left: 1em;
}
