.remark-highlight {
  overflow: auto;
  border-radius: 0.3em;
  margin: 1em 0;
}

code {
  font-family: "Roboto Mono", monospace;
}

.remark-highlight > pre {
  float: left;
  min-width: 100%;
  padding: 1em 1.5em;

  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: #d6d6bf;
}

/* Inline code */
:not(pre) > code {
  padding: 0 0.2em 0.2em 0.2em;
  border-radius: 0.3em;
}

/* highlight for each spotlight line */
.remark-highlight-code-line {
  display: block;
  margin-right: -1.5em;
  margin-left: -1.5em;
  padding-right: 1.5em;
  padding-left: 1.25em;
  border-left: 0.25em solid var(--primary);
}

/* Gutter for line numbers when the line-numbers plugin is active */
/* .remark-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
} */

/* ====================================================================== */

.remark-highlight {
  background: #1d1f21;
}
.remark-highlight-code-line {
  background: #2e3133;
}
/* Code blocks */
.token.script,
.remark-highlight > pre {
  color: #d6d6bf;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  /* custom */
  color: #525663;
  font-style: italic;
}

.token.punctuation {
  /* custom */
  color: #757986;
}
.token.constant,
.token.operator,
.token.interpolation-punctuation {
  /* custom */
  color: #f53e4e;
}

.token.property-access {
  color: #f8f8f0;
}

.namespace {
  opacity: 0.7;
}

/* const, let, function, html tags */
.token.property,
.token.keyword,
.token.tag {
  /* custom */
  color: #19d1e5;
}

/* css default selector, by tag */
.token.selector {
  /* custom */
  color: #ff3f4f;
}
/* css selector class */
.token.class {
  /* custom */
  color: #f5d766;
}
.token.id {
  /* custom */
  color: #e453d2;
}

.token.boolean {
  /* custom */
  color: #5383f1;
}

.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.number {
  /* custom */
  color: #ea15cf;
}
.token.unit {
  /* custom */
  color: #b90ab9;
}

.token.string,
.token.attr-value,
.token.char,
.token.builtin,
.token.inserted {
  /* custom */
  color: #f5c91f;
}

.token.variable {
  color: #8280f9;
}

.token.entity {
  color: #ffffb6;
  cursor: help;
}

.token.url {
  color: #96cbfe;
}

.token.maybe-class-name,
.token.class-name,
.token.rule {
  /* custom */
  color: #fd8c15;
}

.token.atrule {
  color: #f9ee98;
}

/* function name & call */
.token.pseudo-element,
.token.attr-name,
.token.function {
  /* custom */
  color: #87d236;
}

.token.regex {
  color: #e9c062;
}

.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic::after {
  font-style: italic;
}
