.remark-highlight {
  overflow: auto;
  font-size: 0.85em;
  max-width: calc(100vw - 2px);

  /* This might be helpful for large & many blocks of code */
  /* PROS: faster initial rendering */
  /* CONS: we don't know the height of the elements, so the scroll bar will jump because the browser will render the element when it comes into view */
  /* content-visibility: auto; */
}

@media (max-width: 999px) {
  .remark-highlight {
    margin-left: -20px;
    margin-right: -20px;
    font-size: 0.75em;
  }
}

.remark-highlight > pre {
  margin: 0;

  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  --spacing: 2em;
  padding: calc(var(--spacing) * 0.75) var(--spacing);
  overflow: auto;
}

@media (max-width: 999px) {
  pre[class*="language-"] {
    --spacing: 20px;
  }
}

/* highlight for each spotlight line */
.remark-highlight-code-line {
  padding-top: 0.05em;
  padding-bottom: 0.2em;

  margin-right: calc(var(--spacing) * -1);
  margin-left: calc(var(--spacing) * -1);
  padding-right: calc(var(--spacing));
  padding-left: calc(var(--spacing) - 3px);
  border-left: 3px solid var(--primary);
}

/* Gutter for line numbers when the line-numbers plugin is active */
/* .remark-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
} */

/* ====================================================================== */
