.arrow {
  // these can be overridden by consumers via className
  --linecolor: var(--color);
  --size: 1px;

  display: flex;
  align-items: center;
  transition: transform 0.3s;

  text-indent: -9999em;

  &::before {
    content: "";
    display: block;
    height: var(--size);
    width: 18px;
    background-color: var(--linecolor);
    margin-right: -5px;
  }

  &::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border: var(--size) var(--linecolor) solid;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
  }
}

.left {
  transform: rotate(180deg);
}
.up {
  transform: rotate(270deg);
}
.down {
  transform: rotate(90deg);
}
