@import "../styles/mixins";

.post {
  h2 {
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-top: 2em;

    @include breakpoint(md) {
      font-size: 3rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-top: 2em;

    @include breakpoint(md) {
      font-size: 2rem;
    }
  }

  h4 {
    font-size: 1.2rem;
    margin-top: 1em;
    margin-bottom: 0.25em;
    padding-top: 1.5em;

    @include breakpoint(md) {
      font-size: 1.4rem;
    }
  }

  p {
    margin: 1em 0;

    @include breakpoint(md) {
      width: 75%;
    }
  }

  blockquote {
    font-style: italic;
    border-left: 10px #eeeeee solid;
    margin: 3em 0;
    padding: 0.25em 2em;
    font-size: 1.5em;
  }

  & > ol li,
  & > ul li {
    @include breakpoint(md) {
      width: 75%;
    }
  }
}
