.gap1 {
  padding: calc(var(--space) * 0.5);
}
.gap2 {
  padding: var(--space);
}
.gap3 {
  padding: calc(var(--space) * 1.5);
}
.gap4 {
  padding: calc(var(--space) * 2);
}
.gap5 {
  padding: var(--space_large);
}
.gap6 {
  padding: calc(var(--space_large) * 1.5);
}
.gap7 {
  padding: calc(var(--space_large) * 2);
}
.gap8 {
  padding: calc(var(--space_large) * 2.5);
}
.gap9 {
  padding: calc(var(--space_large) * 3);
}
.gap10 {
  padding: calc(var(--space_large) * 3.5);
}
