.button {
  --height: 36px;
  --cutoff: calc(var(--height) / 3);
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  appearance: none;
  background: none;
  text-decoration: none !important;
  // display: block;
  line-height: 1;
}

.button_inner {
  height: var(--height);
  background-color: var(--primary);
  text-decoration: none !important;
  display: inline-flex;
  color: var(--dark) !important;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  // for better visual centering
  padding-bottom: 2px;
  clip-path: polygon(
    var(--cutoff) 0,
    100% 0,
    calc(100% - var(--cutoff)) 100%,
    0 100%
  );

  transition: clip-path 0.2s;

  &:hover {
    clip-path: polygon(
      calc(var(--cutoff) + 5px) 0,
      calc(100% - 5px) 0,
      calc(100% - var(--cutoff) - 5px) 100%,
      5px 100%
    );
  }
}
