.button {
  --height: 36px;
  --cutoff: calc(var(--height) / 3);
  --spacing: 24px;
  --bg: var(--primary);

  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  appearance: none;
  background: none;
  text-decoration: none !important;
  // display: block;
  line-height: 1;
}

.button_inner {
  position: relative;
  height: var(--height);
  background-color: var(--bg);
  text-decoration: none !important;
  display: inline-flex;
  color: var(--dark) !important;
  align-items: center;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  // for better visual centering
  clip-path: polygon(
    var(--cutoff) 0,
    100% 0,
    calc(100% - var(--cutoff)) 100%,
    0 100%
  );

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -1em;
    bottom: -1em;
    left: -1em;
    pointer-events: none;
    background-color: #ffffff66;
    width: 1em;
    transform: rotate(18.5deg);
  }

  &:hover::after {
    transition: left 0.5s;
    left: 100%;
  }
}

.button_default {
  padding-bottom: 2px;
}

.button_large {
  --height: 60px;
  --cutoff: calc(var(--height) / 3);
  --spacing: 40px;
}

.button_muted {
  --bg: #12121222;

  [data-darkmode="true"] & {
    --bg: #ffffff66;
    // color: white !important;
  }
}
