.button {
  --height: 36px;
  --cutoff: calc(var(--height) / 3);

  background-color: var(--primary);
  text-decoration: none !important;
  display: inline-flex;
  height: var(--height);
  color: var(--dark) !important;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  // for better visual centering
  padding-bottom: 2px;
  clip-path: polygon(
    var(--cutoff) 0,
    100% 0,
    calc(100% - var(--cutoff)) 100%,
    0 100%
  );

  transition: clip-path 0.2s;

  &:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
