.inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.start {
  align-items: flex-start;
}
.center {
  align-items: center;
}
.end {
  align-items: flex-end;
}
