@import "../styles/mixins";

.primary {
  color: var(--primary);
}

.p01 {
  line-height: 1.42;
  font-size: 28px;
}

// these are set as default global body styles as well
.p02 {
  line-height: 1.52;
  font-size: 19px;
}

.h00 {
  line-height: 1.08;
  font-size: 120px;
  font-weight: bold;
}

.h00 {
  line-height: 1.08;
  font-size: 120px;
  font-weight: bold;
}

.h01 {
  line-height: 1.1;
  font-size: 100px;
  font-weight: bold;
}

.h02 {
  line-height: 1.06;
  font-size: 60px;
  font-weight: bold;
}

.h02_5 {
  line-height: 1.13;
  font-size: 44px;
  font-weight: bold;
}

.h03 {
  line-height: 1.33;
  font-size: 30px;
  font-weight: bold;
}

.h04 {
  line-height: 1.36;
  font-size: 22px;
  font-weight: bold;
}

.h05 {
  line-height: 1.36;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}

.h06 {
  line-height: 1.25;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.m01 {
  line-height: 1.375;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  font-style: italic;
}

.m02 {
  line-height: 1.61;
  font-size: 13px;
  font-family: "Roboto Mono", monospace;
  font-style: italic;
}

.align_start {
  text-align: start;
}
.align_center {
  text-align: center;
}
.align_end {
  text-align: end;
}
