@import "../../styles/mixins";

.link:any-link {
  text-decoration: none;
}

.title {
  line-height: 1.13;
  font-size: 35px;
  font-weight: bold;
  hyphens: auto;

  @include breakpoint(sm) {
    hyphens: none;
    font-size: 44px;
  }
}
