@import "../../styles/mixins";

.h1 {
  font-size: 100px;

  @include breakpoint(md) {
    font-size: 120px;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: stretch;
}

.page_nav {
  display: flex;
  justify-content: space-between;

  @include breakpoint(md) {
    justify-content: flex-start;
  }
}
