@import "../../styles/mixins";

.link:any-link {
  text-decoration: none;
  display: block;

  & > h2,
  & > p {
    transition: all 0.5s;
  }
}

@media (hover: hover) {
  .link:hover {
    & > h2 {
      transform: translateY(-10px);
    }
    & > p {
      transform: translateY(-20px);
    }
  }
}

.title {
  line-height: 1.13;
  font-size: 35px;
  font-weight: bold;
  hyphens: auto;

  @include breakpoint(sm) {
    hyphens: none;
    font-size: 44px;
  }
}
