@import "../../styles/mixins";

ul.list {
  list-style: none;
  padding: 0;
  padding-left: 1.5em;
  margin: 0;
  
  @include breakpoint(md) {
    padding-left: 3em;
  }

  .item {
    position: relative;

    &::before {
      content: attr(data-emoji);
      display: inline-block;
      position: absolute;
      left: -1.5em;
      top: 0;
    }
  }
}
