@import "../../styles/mixins";

.content {
  border-radius: 1rem;
  overflow: hidden;

  @include breakpoint(md) {
    padding: 2rem;
  }
}

.caption {
  margin-top: 1.5em;

  @include breakpoint(md) {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.status {
  transform: translateY(-2px);
  vertical-align: middle;
}
