@import "../../styles/mixins";

.full {
  width: 100vw;
  margin-left: -20px;

  @include breakpoint(md) {
    margin-left: calc((100vw - var(--content-width)) / 2 * -1);
  }
}

.padded {
  padding-left: 10px;
  padding-right: 10px;
}
