@import "../../styles/mixins";

.full {
  width: 100vw;
  margin-left: calc(var(--content-spacing) * -1);
  margin-right: calc(var(--content-spacing) * -1);

  @include breakpoint(md) {
    margin-left: calc((100vw - var(--content-width)) / 2 * -1);
  }
}
