@import "../../styles/mixins";

.full {
  --scrollbar-width: 9px;
  margin-left: calc(var(--content-spacing) * -1);
  margin-right: calc(var(--content-spacing) * -1);

  @include breakpoint(md) {
    margin-left: calc(
      (100vw - var(--content-width)) / 2 * -1 + var(--scrollbar-width)
    );
    margin-right: calc(
      (100vw - var(--content-width)) / 2 * -1 + var(--scrollbar-width)
    );
  }
}
