@import "../../styles/mixins";

.note {
  border-left: 8px var(--primary) solid;
  margin: var(--section-spacing) 0;
  padding: 24px;
}

.title {
  font-weight: bold;
  display: block;
  font-size: 1.2em;
}

.uppercase {
  text-transform: uppercase;
}
