.tag:any-link {
  --height: 25px;
  --size: 15px;

  display: flex;
  text-decoration: none;
  align-items: center;

  border: 1px transparent solid;
  position: relative;
  height: var(--height);
  padding-left: calc(var(--size) + 0.5em);

  & strong {
    transition: all 0.5s;
  }

  &::before {
    position: absolute;
    left: 0;
    top: calc(var(--height) / 2 - var(--size) / 2 - 1px);
    content: "";
    display: inline-block;
    background-color: var(--tag-color);
    width: var(--size);
    height: var(--size);
    border-radius: 6px;
    transition: all 0.5s;
    z-index: -1;
  }

  &:hover strong {
    color: white;
    transform: translateX(-1em);
  }
  &:hover::before {
    border-radius: 9px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
