@import "../styles/mixins";

.title {
  @include breakpoint(md) {
    margin-top: var(--space-100);
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.image {
  position: relative;
  max-width: 100%;
  margin: 0;

  background: #88888822;
  aspect-ratio: 16/9;

  [data-darkmode="true"] &.image_bw {
    outline: 1px #ffffff22 solid;

    & img {
      filter: invert(1);
    }
  }
}

.image_links {
  position: absolute;
  right: 1em;
  bottom: 0;
  transform: translateY(50%);
}

.button {
  text-transform: capitalize;
  display: block;
}
.button_video::before {
  @include breakpoint(sm) {
    content: "";
    display: inline-block;
    margin-right: 0.65em;
    width: 0px;
    height: 0px;
    border-left: 8px var(--color) solid;
    border-top: 5px transparent solid;
    border-bottom: 5px transparent solid;
  }
}
.button_slides {
  @include breakpoint(sm) {
    display: inline-block;
    position: relative;
    margin-right: 0.8em;
    width: 8px;
    height: 8px;
  }

  @include breakpoint(sm) {
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      left: 0;
      top: 0;
    }
  }
  &::before {
    background-color: var(--color);
    transform: translateY(-2px);
  }
  &::after {
    border-right: 1px var(--color) solid;
    border-bottom: 1px var(--color) solid;
    transform: translateX(1px) translateY(-1px);
  }
}
.button_code::before {
  @include breakpoint(sm) {
    content: "</>";
    display: inline-block;
    margin-right: 0.8em;
    font-style: normal !important;
    font-weight: bold;
    letter-spacing: -2px;
  }
}

.old_title {
  @include breakpoint(md, max) {
    hyphens: auto;
  }
}
