@import "../../../../styles/mixins";

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  position: relative;

  &::before {
    content: attr(data-emoji);
    display: inline-block;
    position: absolute;
    left: -1.5em;
    top: 0;
  }
}
