html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

/* blog */
.permalink::before {
  content: "🔗";
}
figure {
  margin: 2em 0;
  padding: 0;
  text-align: center;
}
figure img {
  margin: 0;
}

/* dark/light mode */
body {
  transition: background-color 0.2s, color 0.3s;
}
.light-mode {
  background-color: white;
  color: black;
  --primary: dodgerblue;
  --accent: royalblue;
}
.dark-mode {
  background-color: black;
  color: white;
  --primary: goldenrod;
  --accent: sandybrown;
}
