@import "./theme.module.scss";
@import "./mixins";

:root {
  --dark: #{$dark};
  --light: #{$light};
  --primary: #{$yellow};
  --blue: #{$blue};
  --blue-light: #{$blue_light};

  --space-8: calc(#{$space} / 2);
  --space-16: #{$space};
  --space-24: calc(#{$space} * 1.5);
  --space-32: calc(#{$space} * 2);
  --space-40: #{$space_block};
  --space-60: calc(#{$space_block} * 1.5);
  --space-80: calc(#{$space_block} * 2);

  --space-100: calc(#{$space_block} * 2.5 - 2rem);
  --space-120: calc(#{$space_block} * 3 - 2em);
  --space-140: calc(#{$space_block} * 3.5 - 2rem);

  @include breakpoint(sm) {
    --space-100: calc(#{$space_block} * 2.5 - 1rem);
    --space-120: calc(#{$space_block} * 3 - 1em);
    --space-140: calc(#{$space_block} * 3.5 - 1rem);
  }
  @include breakpoint(md) {
    --space-100: calc(#{$space_block} * 2.5);
    --space-120: calc(#{$space_block} * 3);
    --space-140: calc(#{$space_block} * 3.5);
  }
}

@font-face {
  font-family: "Soehne";
  src: url("/fonts/soehne-web-buch.woff2") format("woff2"),
    url("/fonts/soehne-web-buch.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Soehne";
  src: url("/fonts/soehne-web-dreiviertelfett.woff2") format("woff2"),
    url("/fonts/soehne-web-dreiviertelfett.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Soehne", Arial, Helvetica, sans-serif;
  line-height: 1.65;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

a:any-link {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

textarea {
  resize: none;
}

/* blog */
.headinglink {
  white-space: nowrap;

  @include breakpoint(md) {
    & {
      visibility: hidden;
    }
    h2:hover &,
    h3:hover &,
    h4:hover & {
      visibility: visible;
    }
  }

  &::before {
    content: " ";
    opacity: 0;
  }

  &::after {
    background-image: url("/images/headinglink.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.75em;

    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 40%;
    transform: translateY(0.1em);

    @include breakpoint(md) {
      background-size: 0.5em;
      border: 1px var(--dark) solid;
      margin-left: 0.25em;
      transform: translateY(0.15em);
    }

    [data-darkmode="true"] & {
      filter: invert(1);
    }
  }
}

figure {
  margin: 2em 0;
  padding: 0;
  text-align: center;
}
figure img {
  margin: 0;
}

.code,
code {
  font-family: "Roboto Mono", monospace;
}

.light-mode {
  --color: var(--dark);
  --background: var(--light);
}
.dark-mode {
  --color: var(--light);
  --background: var(--dark);
}

.light-mode,
.light-mode .theme,
.dark-mode .inversed {
  background-color: var(--light);
  color: var(--dark);
  transition: background-color 0.2s, color 0.3s;
}
.dark-mode,
.dark-mode .theme,
.light-mode .inversed {
  background-color: var(--dark);
  color: var(--light);
  transition: background-color 0.2s, color 0.3s;
}
.bg-primary {
  background-color: var(--primary);
  color: var(--dark);

  ::selection {
    background-color: #ffffffaa;
  }
}
.bg-secondary {
  background-color: var(--blue);
  color: var(--light);

  .dark-mode & {
    background-color: var(--blue-light);
  }
}

.light-mode .muted {
  opacity: 0.4;
}
.dark-mode .muted {
  opacity: 0.5;
}
.bg-primary .muted {
  opacity: 0.6;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.25s ease;
    outline-offset: 5px;
    outline-color: dodgerblue;
  }
}

::selection {
  background-color: #f6ce50aa;
  color: var(--dark);
}
