@import "./theme.module.scss";
@import "./mixins";

:root {
  --dark: #{$dark};
  --light: #{$light};
  --primary: #{$primary};

  --space-8: calc(#{$space} / 2);
  --space-16: #{$space};
  --space-24: calc(#{$space} * 1.5);
  --space-32: calc(#{$space} * 2);
  --space-40: #{$space_block};
  --space-60: calc(#{$space_block} * 1.5);
  --space-80: calc(#{$space_block} * 2);

  --space-100: calc(#{$space_block} * 2.5 - 2rem);
  --space-120: calc(#{$space_block} * 3 - 2em);
  --space-140: calc(#{$space_block} * 3.5 - 2rem);

  @include breakpoint(sm) {
    --space-100: calc(#{$space_block} * 2.5 - 1rem);
    --space-120: calc(#{$space_block} * 3 - 1em);
    --space-140: calc(#{$space_block} * 3.5 - 1rem);
  }
  @include breakpoint(md) {
    --space-100: calc(#{$space_block} * 2.5);
    --space-120: calc(#{$space_block} * 3);
    --space-140: calc(#{$space_block} * 3.5);
  }
}

@font-face {
  font-family: "Soehne";
  src: url("/fonts/soehne-test-buch.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Soehne";
  src: url("/fonts/soehne-test-dreiviertelfett.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Soehne", Arial, Helvetica, sans-serif;
  line-height: 1.65;
  font-size: 19px;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

a:any-link {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

textarea {
  resize: none;
}

/* blog */
.permalink::before {
  content: "🔗";
}
figure {
  margin: 2em 0;
  padding: 0;
  text-align: center;
}
figure img {
  margin: 0;
}

body {
  /* dark/light mode */
  transition: background-color 0.2s, color 0.3s;
}

.light-mode,
.dark-mode .inversed {
  background-color: var(--light);
  color: var(--dark);
}
.dark-mode,
.light-mode .inversed {
  background-color: var(--dark);
  color: var(--light);
}
.bg-primary {
  background-color: var(--primary);
  color: var(--dark);
}

.light-mode .muted {
  opacity: 0.5;
}
.dark-mode .muted {
  opacity: 0.6;
}
.bg-primary .muted {
  opacity: 0.7;
}
